@forward './icons';

[class^='vf-icon-'],
[class*=' vf-icon-'] {
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vf-icons' !important;
    font-size: 1.5rem;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
