@use './icon-style.scss';
@import './fonts.scss';

body {
  font-family: 'Vattenfall Hall NORDx', system-ui, sans-serif;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: #1964a3;
  text-decoration: none;
}

code {
  font-size: 1rem;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

strong {
  font-weight: 600;
}

.vf-guideline__full-container {
  border-bottom: 1px #e6eaed solid;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.vf-guideline__icon-container {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAAAAACoWZBhAAAAF0lEQVQI12P4BAI/QICBFCaYBPNJYQIAkUZftTbC4sIAAAAASUVORK5CYII=);
  box-sizing: border-box;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(15, auto);
  padding: 20px;
  position: relative;
  width: 100%;

  span {
    display: flex;
    justify-content: center;
    line-height: 1rem;
    margin-bottom: 5px;
    padding: 0.5rem;
  }
}

.vf-guideline__container {
  border-bottom: 1px #e6eaed solid;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  width: 75%;
}

.vf-guideline__container-no-border {
  padding-bottom: 2rem;
  width: 75%;
}

.vf-component__container {
  max-width: 600px;
}

.vf-guideline__large-heading {
  color: #000;
  font-family: 'Vattenfall Hall Display NORDx';
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
  padding-bottom: 2.65rem;
  border-bottom: 1px solid #ccc;
  width: 100%;

  @media screen and (min-width: 768px) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  @media screen and (min-width: 1024px) {
    font-size: 4.5rem;
    line-height: 5.25rem;
  }
}

.vf-guideline__heading {
  color: #000;
  font-family: 'Vattenfall Hall Display NORDx';
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  padding-bottom: 2.65rem;
  border-bottom: 1px solid #ccc;
  width: 100%;

  @media screen and (min-width: 768px) {
    font-size: 2;
  }
  @media screen and (min-width: 1024px) {
    font-size: 3.25rem;
  }
}

.vf-component__large-heading {
  color: #000;
  font-family: 'Vattenfall Hall Display NORDx';
  font-weight: 600;
  padding-bottom: 20px;
  font-size: 3.125rem;
  line-height: 2.5rem;

  @media screen and (min-width: 768px) {
    font-size: 3.25rem;
    line-height: 3.875rem;
  }
}

.vf-component__heading {
  color: #000;
  font-family: 'Vattenfall Hall Display NORDx';
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2rem;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }
}

.vf-component__small-heading {
  color: #000;
  font-family: 'Vattenfall Hall NORDx';
  font-size: 1.375rem;
  font-weight: 600;
  padding-bottom: 20px;
  text-decoration: none;
  line-height: 1.75rem;

  @media screen and (min-width: 768px) {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

.vf-component__icons-heading {
  color: #222222;
  font-family: 'Vattenfall Hall Display NORDx', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.375rem;
  letter-spacing: 0;
  line-height: 1.75rem;
  margin-bottom: 16px;
}

.vf-component__tiny-heading {
  color: #000;
  font-family: 'Vattenfall Hall NORDx';
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
  text-decoration: none;
  line-height: 1.5rem;

  @media screen and (min-width: 768px) {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

.vf-large-bodycopy {
  color: #000;
  font-family: 'Vattenfall Hall NORDx';
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 20px;
  text-decoration: none;
  line-height: 2.25rem;
}

.vf-small-bodycopy {
  color: #000;
  font-family: 'Vattenfall Hall NORDx';
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 20px;
  text-decoration: none;
  line-height: 1.75rem;
}

.vf-intro-in-caps {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.375rem;
  padding-bottom: 20px;

  @media screen and (min-width: 576px) {
    font-size: 1rem;
    line-height: 2.25rem;
  }
}

.vf-preamble {
  color: #000;
  font-size: 1.25rem;
  font-family: 'Vattenfall Hall NORDx';
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 20px;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.vf-guideline__header-intro {
  display: flex;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 20px;

  span {
    padding-left: 1rem;
  }
}

.vf-component__paragraph {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 20px;
  max-width: 900px;

  &.disclaimer {
    font-size: 0.75rem;
    margin-top: 10px;
  }
}

.vf-guideline__underlined-paragraph {
  border-bottom: 1px #e6eaed solid;
  margin-bottom: 20px;
  padding-bottom: 1rem;
}

.vf-guideline__typo-examples {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.vf-guideline__graphics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
  grid-gap: 24px;
}

.vf-guideline__logotype-examples {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 900px) {
    grid-gap: 1rem;
  }

  img {
    height: auto;
    width: 100%;
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.vf-guideline__state-examples {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 56px;

  @media screen and (min-width: 1800px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .input-example {
    aspect-ratio: 1/1;
    height: 65px;
    width: 265px;
  }

  .textarea-example {
    height: auto;
    width: 160px;

    @media screen and (min-width: 1024px) {
      width: 265px;
    }
  }
}

.vf-link--with-arrow {
  color: #222222;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  font-family: 'Vattenfall Hall NORDx', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 0.875rem;
  line-height: 1.09375rem;
  letter-spacing: -0.05px;
  font-weight: normal;
  font-weight: 500;
  padding-left: 20px;

  &:hover {
    color: #2071b5;
    text-decoration: none;
  }

  &:focus,
  &:active {
    color: #1e324f;

    &::before {
      color: #1e324f;
    }
  }

  &:hover:before {
    color: #2071b5;
    transform: translate(20%, 0);
  }

  &::before {
    content: '\2192';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.09375rem;
    color: #2071b5;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    transition-duration: 300ms;
    transition-delay: 0ms;

    @media screen and (min-width: 1024px) {
      font-size: 1.75rem;
      line-height: 1.40625rem;
    }
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1.40625rem;
    padding-left: 30px;
  }
}

.vf-button__primary {
  background: #ffda00;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #222222;
  display: inline-block;
  font-family: 'Vattenfall Hall NORDx';
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  padding: 9px 48px;
  line-height: 1.125rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;

  &:hover {
    color: #111111;
    background: #ffe85b;
  }

  &:focus {
    background: #f1c50b;
  }
}

.vf-button__secondary {
  background: #1964a3;
  border: 2px solid transparent;
  border-radius: 20px;
  display: inline-block;
  color: #ffffff;
  font-family: 'Vattenfall Hall NORDx';
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 9px 48px;
  line-height: 1.125rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
}

.vf-button {
  border-radius: 20px;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-family: 'Vattenfall Hall NORDx';
  padding: 9px 48px;
  line-height: 1.125rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  min-width: 180px;

  &::before {
    content: '\2192';
    position: absolute;
    transform-origin: top left;
    transform: translate(-220%, 0);
    font-weight: normal;
    font-size: 1.25rem;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-delay: 0ms;
  }

  &:disabled {
    color: #767676;
    background-color: #eeeeee;
    pointer-events: none;
  }

  &:hover:before {
    transform: translate(-150%, 0);
    opacity: 1;
  }
}

.vf-button--lg {
  padding: 12px 48px;
  font-size: 1.125rem;
  line-height: 1.5rem;
  border-radius: 26px;
  min-width: 240px;
}

.vf-button__outline--dark {
  background: transparent;
  border: 2px #222222 solid;
  color: #222222;
  font-family: 'Vattenfall Hall NORDx';

  &:hover {
    color: #fff;
    background: #000;
  }

  &:disabled {
    border: none;
    pointer-events: none;
  }
}

.vf-button__outline--secondary {
  background: transparent;
  border: 2px #2071b5 solid;
  color: #1964a3;
  font-family: 'Vattenfall Hall NORDx';
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:disabled {
    border: none;
  }

  &:hover {
    color: #fff;
    background: #1964a3;
    border-color: #1964a3;
  }

  &:disabled {
    border: none;
  }
}

.vf-component__git {
  &-logo {
    height: 48px;
    width: 48px;
  }
}

.vf-utility__error {
  color: #f93b18;
}

.vf-utility__link {
  color: #2071b5;
}

.vf-utility__metadata {
  color: #888888;
}

.vf-utility__success {
  color: #3dc07c;
}

.vf-utility__warning {
  color: #f5a623;
}

.code-example {
  display: block;
  margin-bottom: 0.5rem;
}

.vf-input {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  color: #222222;
  font-family: 'Vattenfall Hall NORDx';
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 1.5rem;
  padding: 16px 20px;
  position: relative;

  &__dropdown {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAzNiAzNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzYgMzY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojMzMzMzMzO30KPC9zdHlsZT4KPGcgaWQ9Ik1hc2siIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4LjAwMDAwMCwgMTguNTAwMDAwKSBzY2FsZSgxLCAtMSkgdHJhbnNsYXRlKC0xOC4wMDAwMDAsIC0xOC41MDAwMDApICI+Cgk8cG9seWdvbiBpZD0icGF0aC0xXzFfIiBjbGFzcz0ic3QwIiBwb2ludHM9IjE4LDE0LjUgMTAsMjAuMyAxMSwyMS41IDE4LDE2LjUgMjUsMjEuNSAyNiwyMC4zIAkiLz4KPC9nPgo8L3N2Zz4K)
      right center no-repeat;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #222222;
    cursor: pointer;
    font-family: 'Vattenfall Hall NORDx';
    font-size: 1.25rem;
    height: 50px;
    appearance: none;
    padding: 11px 114px 11px 20px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }
}
.vf-input::-webkit-outer-spin-button,
.vf-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.vf-input:focus ~ .vf-input__label {
  color: #1964a3;
  font-weight: 500;
  left: 16.5px;
  letter-spacing: 0px;
  transform: scale(0.7);
  transform-origin: top left;
  top: -9px;
  padding: 0 7px;
}
.vf-input__container {
  cursor: pointer;
  line-height: 1;
  position: relative;
  margin-bottom: 2rem;
}
.vf-input__label {
  color: #767676;
  cursor: default;
  font-family: 'Vattenfall Hall NORDx';
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
  margin-bottom: 0;
  opacity: 1;
  top: 13px;
  left: 20px;
  position: absolute;
  transition: top 0.2s ease-in-out;
}
.vf-input__label::after {
  background: white;
  content: '';
  display: block;
  height: 2.6px;
  top: -12.43666px;
  position: relative;
  width: 100%;
  transform: scaleX(1.05) scaleY(1.1);
  z-index: -1;
}

.vf-input:focus-visible {
  outline: none;
}

.has-value {
  opacity: 0;
}

.future-vision {
  &__link {
    align-items: center;
    color: #2071b5;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 3rem;

    &::after {
      content: '\2192';
      color: #1964a3 !important;
      display: inline-block;
      font-size: 1.55rem;
      position: relative;
      transition: transform 0.3s ease-out;
      transform: translate(5px, 2px);
    }

    &--small {
      font-size: 1rem;
      line-height: 1.33;
    }

    &:disabled {
      color: #767676;
      background-color: #eeeeee;
      pointer-events: none;
    }

    &:hover::after {
      transform: translate(10px, 2px);
    }
  }
}

.vf-future-vision__grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(auto, 1fr));
  gap: 13px;
  margin: 0 1.25rem;
  max-width: 1530px;

  @media screen and (min-width: 768px) {
    gap: 26px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 42px;
    margin: 0 1.875rem;
  }

  @media screen and (min-width: 1650px) {
    margin: 0 auto;
    grid-template-columns: repeat(12, minmax(89px, 1fr));
    gap: 42px;
  }
}

.vf-future-vision__grid--no-margins {
  display: grid;
  grid-template-columns: repeat(6, minmax(43px, 1fr));
  gap: 13px;
  max-width: 1530px;

  @media screen and (min-width: 768px) {
    gap: 26px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 42px;
  }

  @media screen and (min-width: 1650px) {
    grid-template-columns: repeat(12, minmax(89px, 1fr));
    gap: 42px;
  }
}

.vf-ul--no-margins {
  margin: 0;
}
