@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --solar-yellow: #ffda00;
  --ocean-blue: #2071b5;
  --aura-white: #ffffff;
  --coal-black: #000000;
  --magnetic-gray: #4e4b48;
  --dark-green: #005c63;
  --dark-blue: #1e324f;
  --pink: #d1266b;
  --dark-purple: #85254b;
  --green: #3dc07c;
  --red: #f93b18;
  --purple: #9b62c3;
  --light-yellow: #fffee5;
  --light-green: #edf9f3;
  --light-blue-alt: #ebf2f3;
  --light-blue: #edf1f6;
  --light-red: #fef0ea;
  --light-grey: #f2f2f2;
  --ash-blue: #869bad;
  --dark-ash-blue: #69788c;
  --lighter-grey: #e6e6e6;
  --medium-grey: #999999;
  --medium-dark-grey: #767676;
  --dark-grey: #666666;
  --hydro: #2da55d;
  --wind: #4fcc51;
  --solar: #81e0a8;
  --biomass: #375e4e;
  --coal: #e88a74;
  --gas: #d85067;
  --nuclear: #e6e6e6;
  --district-heating: #a376cc;
}
